@import "tailwindcss";

.bg_dino {
    background-image: url(/bgImg.jpg);
    background-attachment: fixed; /* 背景画像を固定する */
    background-size: cover; /* 必要に応じて背景画像をカバー表示にする */
    background-repeat: no-repeat; /* 必要に応じて背景画像の繰り返しをなくす */
}
